*{
    font-family: Helvetica;
 }

a {
    text-decoration: none;
}

div.header {
    background-color: white;
    width: 10vh;
    height: 100vw;
    text-align:left;
    position: fixed;
    top:0px;
    border: 10px;
    h1 {
        color: black;
        font-style:inherit;
        font-size: 30px;
    }
    h2 {
        font-weight:lighter;
        line-height: 70px;
        margin-block: 5px;
    }
    img {
        width: 30px;
        height: 30px;
        position: relative;
        top: 400px;
    }
}

text {
    color:rgb(150, 150, 150);
    font-size: 15px;
    position: relative;
    top:10px;
    left: 90px;
    p {
        white-space: pre-line;
     }
}

 div.porfolio {
    background-color:white;
    margin-top: 130px;
    img {
        height: 480px;
    }
 }


 @media screen and (min-width: 720px) {
    img {
        height: 200px;
    }
 }