*{
    font-family: Helvetica;
    margin:0px;
 }

#toggle  {
    transform: scale(1.5);
    width: 100px;
    height: 100px;
    position: fixed;
    right: 20px;
    z-index: 100;
    top:12px;
  }

#menu {
    background-color: white;
    color: black;
    width: 40vh;
    height: 100vh;
    text-align:left;
    position: fixed;
    right: -40vh;
    transition: all .3s;
    padding-top:75px; 
    z-index: 99;
    h3{
        font-weight:lighter;
        font-size: 9pt;
        position: absolute;
        bottom: 0px;
        margin: 20px;
        p1 {
            line-height: 18px;
            categories {
                 font-weight: bold;
            }
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}

#menu.active {
    right: 0;
  }

text {
    color:rgb(150, 150, 150);
    font-size: 15px;
    position: relative;
    top:10px;
    left: 90px;
    p {
        white-space: pre-line;
     }
}

body{
    width: 100;
    height: 100;
    z-index: 0;
    .menu-item {
        width: 50vw;
        height: 50vh;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 70px;
        display: flex;
        flex-direction: column;
        justify-content:end;
        position: fixed;
    }
    .carousel-item{
        object-fit: cover; //responsive img
    }
    #about{
        top:0;
        right: 0;
        background-color: rgb(148, 0, 0);
        flex-direction: row;
        justify-content:right;
    }
    #work{
        right: 0;
        top:50vh;
        background-color: rgb(148, 0, 0);
    }
    #graphic{
        top: 50vh;
        background-color: blue;
    }
}

.slider {
        position: relative;
        width: 50vw;
        height: 50vh;
        overflow: hidden;
        .slide {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }   
       & .active {
            display:block;
            opacity: 1;
        }
    }  
    
// PH.html
 .container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    left:0;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    padding-top: 20px;
    img {
     height: 450px;
 }
}


 @media screen and (max-width: 720px) {
    #menu.active {
        width: 100vw;
        ul a {
            font-size: 24px;
        }
        h3 {
            font-size: 12px;
        }
    }
    .slider{
        display: block;
    }
    .section{
            width: 100vw;
            height: 25vh;
            position: fixed;
        }
    }
 