$white: white;
$color: #a5b700;
$complementary: #1422eb;
$black: rgb(0, 0, 0);
$h2size: 70px;
$h3size:35px;

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 0px;
}

h2{
    color: $black;
    font-size: $h2size;
    margin: 15px;
}

a{
    text-decoration: none;
    color: black;
}

//MENU A COMPARSA ABOUT
#aboutItem {
    height: 35%;
    width: 48%;
    background-color: none;
    color: $black;
    position: absolute;
    top:-35vh;
    transition: all 1s;
    padding-left: 15px;
    
    h3 {
        font-size: $h3size;
        display: inline-block;
    }
    
    p {
        font-size: 13pt;
        display: none;
        color: $complementary;
    }
}

#aboutItem.visible {
    top: 12%;
}

//STRUTTURA HOMPAGE
.menu-item {
    width: 50%;
    height: 50%;
    position: fixed;
    display: inline-flex;
    flex-direction: column;
}

#about {
    background-color: $color;
}

#work {
    top: 50%;
    background-color: $color;
    justify-content: end;
}

#graphic {
    left: 50%;
    top: 50%;
    background-color: $black;
    justify-content: end;
}

#ph {
    left: 50%;
    background-color: $white;
    justify-content: end;
}

.img-background{
    height: 50vh;
    width: 50vw;
    display: none;
    object-fit: cover;
}

//HOVER
h2:hover, h3:hover, a:hover {
    color: $complementary;
}

.menu-item:hover{

    .notinhover{
        display: none;
    }

    .img-background{
        display: block;
    }
}

#aboutItem h3:hover + p {
    display: inline-block; // Mostra p al'hover di h3
}


//SCROLLING TEXT
.scrolling {
    display: inline-block;
    white-space: nowrap; //no a capo
    animation: scrolling 10s linear infinite;
}

.message{
    font-size: $h2size;
    color: $white;
    white-space: nowrap;
    display: inline-block;
}

@keyframes scrolling {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        transform: translate3d(-300%, 0, 0);
    }
}

//RESPONSIVE
@media screen and (max-width: 600px) {
    #aboutItem {
        background-color: $color;
        width: 100%;
        height: 38%;
        top: -100vh;
        z-index: 100;
        
        p{
            display: inline-block;
            color: $black;
        }
    }
    
    h3:hover{
        color: $black;
    }
    
    .menu-item, .img-background {
        width: 100vw;
        height: 25vh;
        display: block;
    }
    
    #ph {
        top: 25vh;
        left: 0px;
    }
    
    #work {
        top: 75vh;

        .img-background{
            display: none;
        }
        
        .notinhover{
            display: block;
        }
    }
    
    #graphic {
        left: 0px;
    }
    
}